[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/NeuralAmpModelerCore"]
	path = external/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
